<div class="contenedor">
    <h1>Nombre Pokemon </h1>
    <div class="main-information">
        <ul>
            <li>Tipo 1</li>
            <li>Tipo 2</li>
        </ul>
    <img src="" alt="">
    <ul>
    <li>Estadisticas</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
    </div>

    <div class="profile">
        <h3>Profile</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="moves">
        
    </div>
</div>